body {
  padding-top: 50px;
  margin: 0;
  font-family: Quicksand, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navbar {
  display: flex;
  flex-direction: column;
  background-color: rgb(249, 190, 79);
  justify-content: space-between;
  align-items: center;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: "Comic Sans MS", cursive;
}

.navbar ul{
  list-style-type: none;
}

li{
  color: white;
}
li:hover{
  color: orangered;
  text-decoration: underline;
  text-decoration-color: darkred;
  transition: .5s;
  border-radius: 0.5rem;
}

ul li {
  float: left;
  margin-right: 2rem;
}
/*1. Home */
/*Hero*/
.hero-container {
  height: 600px;
  background-image: url("https://images.unsplash.com/photo-1494205577727-d32e58564756?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  display: flex; /* Flexbox prevents margin collapse */
  flex-direction: column;
  overflow: auto;
  justify-content: center;
  align-items: center;

}

.hero-content{
  width: 70%;
  display: block;
  height:300px;
  background-color: beige;
  margin: 0;
  border-radius: 355px 45px 225px 75px / 15px 225px 15px 255px;
}
.hero-title{
  padding: 10px;
  justify-content: center;
  display: flex;
  font-family:'Quicksand', sans-serif
}

.hero-description{

  display: flex;
  justify-content: center;
  margin: auto;
  padding: 20px;
}
.hero-button{
  display: flex;
  justify-content: center;
  margin:auto;
  background-color: red !important;
  border: black solid 2px;
  font-size: 1rem;
  padding: 10px 20px;
  outline: none;
  letter-spacing: 0.5px;
  font-family: 'Quicksand', sans-serif;
  border-radius: 355px 45px 225px 75px / 15px 225px 15px 255px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: bold;
}

/*Services*/

.services-container{
  height: 300px;
  background-color: sandybrown;
  padding: 1px 0;
}


/*Stats*/
.stats{
  height: 300px;
  background-color: beige;
  padding: 1px 0;
}
/*Testimonials*/
.testimonials{
 height: 300px;
  background-color: #D48C61;
  padding: 1px 0;
}

.footer{
  display: flex;
}



